/* Left Div */
#left {
    position: relative;
    top: 20px;
    width: 29%;
    padding: 0 0px;
    float:left;
    text-align: left;
 }

/* Right Div */
#right {
    position: relative;
    top: 20px;
    width: 70%;
    padding: 0 0px;
    float:right;
    text-align: left;
 } 

fieldset {
padding:10px;
	border:1px solid #369;
}
.goog-tab-content {
	margin:0;
	border:1px solid #6b90da;
	border-top:0;
	padding:4px 8px;
	background:#fff;
	overflow:auto;
}
.hid {
	display: none;
}
/* #menu { */
/*     position: absolute; */
/*     bottom: 0; */
/* } */